# 
#
# Time-stamp: "2018-02-27 13:23:40 wkumari"
# Copyright: Warren Kumari (warren@kumari.net) -- 2014
#

# Ignore emacs backup files.
*~
\#*\#

# and the text and HTML versions of the drafts.
*.txt
*.html
